.card-back{

width:180px;

height:270px;

border-radius:20px;

background:

linear-gradient(
135deg,
#142850,
#27496d,
#0c7b93
);

display:flex;

justify-content:center;

align-items:center;

box-shadow:

0 15px 40px rgba(0,0,0,.45);

animation:

backAppear .5s;

}

.ea-logo{

font-size:42px;

font-weight:900;

color:white;

letter-spacing:4px;

}

@keyframes backAppear{

from{

opacity:0;

transform:

scale(.7)

rotateY(90deg);

}

to{

opacity:1;

transform:

scale(1)

rotateY(0deg);

}

}