.slot-card{

width:150px;
height:205px;

border-radius:22px;

background:
linear-gradient(
160deg,
#010201,
#2c2a2a,
#59636d
);

display:flex;
flex-direction:column;
align-items:center;

padding-top:12px;

cursor:pointer;

transition:.35s;

border:2px solid rgba(255,255,255,.12);

box-shadow:
0 18px 40px rgba(0,0,0,.45),
0 0 18px rgba(59,130,246,.35);

position:relative;

overflow:hidden;

}

.slot-card::before{

content:"";

position:absolute;

width:260px;
height:260px;

background:
radial-gradient(
circle,
rgba(255,255,255,.18),
transparent 70%
);

top:-150px;
left:-80px;

transform:rotate(25deg);

}

.slot-card:hover{

transform:translateY(-10px) scale(1.04);

box-shadow:
0 28px 55px rgba(0,0,0,.55),
0 0 35px #3b82f6;

}

.slot-rating{

font-size:54px;

font-weight:900;

color:#FFD700;

font-family:Montserrat,sans-serif;

line-height:1;

text-shadow:
0 0 18px rgba(255,215,0,.6);

margin-top:8px;

}

.slot-role{

margin-top:4px;

font-size:16px;

font-weight:700;

color:white;

font-family:Poppins,sans-serif;

}

.slot-name{

margin-top:18px;

font-size:20px;

font-weight:800;

text-align:center;

padding:0 10px;

color:white;

font-family:Poppins,sans-serif;

}

.slot-team{

margin-top:16px;

font-size:18px;

font-weight:700;

color:#dbeafe;

}

.slot-cardtype{

margin-top:auto;

margin-bottom:12px;

font-size:13px;

letter-spacing:1px;

font-weight:700;

color:#cbd5e1;

text-transform:uppercase;

}

.slot-plus{

font-size:64px;

color:#FFD700;

font-weight:bold;

margin-top:45px;

}

.slot-empty-role{

font-size:28px;

font-weight:800;

color:white;

margin-top:8px;

letter-spacing:2px;

}

.slot-active{

box-shadow:
0 0 40px gold;

}