.flying-card{

position:fixed;

width:160px;

height:220px;

border-radius:22px;

background:linear-gradient(
180deg,
#313131,
#1d1d1d
);

border:3px solid gold;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:white;

z-index:9999;

pointer-events:none;

transition:

transform .8s cubic-bezier(.2,.8,.2,1),
left .8s cubic-bezier(.2,.8,.2,1),
top .8s cubic-bezier(.2,.8,.2,1);

box-shadow:
0 0 40px gold;

}

.fly-rating{

font-size:56px;

font-weight:900;

color:#ffd54f;

margin-bottom:8px;

}

.fly-name{

font-size:18px;

font-weight:bold;

text-align:center;

padding:0 10px;

}

.fly-role{

margin-top:8px;

font-size:14px;

}

.fly-type{

margin-top:10px;

font-size:12px;

padding:4px 10px;

border-radius:18px;

background:rgba(255,255,255,.12);

}