.panel-overlay{

position:fixed;

left:0;
right:0;
top:0;
bottom:0;

background:rgba(0,0,0,.72);

display:flex;

justify-content:center;

align-items:flex-end;

animation:fade .35s;

z-index:999;

}

.recommend-panel{

width:100%;

padding:35px;

background:

linear-gradient(
180deg,
#242424,
#101010
);

border-top-left-radius:30px;

border-top-right-radius:30px;

animation:slideUp .4s;

}

.recommend-panel h2{

color:white;

text-align:center;

margin-bottom:30px;

}

.recommend-cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}

@keyframes slideUp{

from{

transform:translateY(100%);

}

to{

transform:translateY(0);

}

}

@keyframes fade{

from{

opacity:0;

}

to{

opacity:1;

}

}

